@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
     
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:quiscue22@gmail.com">quiscue22@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:quiscue22@gmail.com">quiscue22@gmail.com</a>
    </address>

    <h3>Conéctate con nosotros</h3>
    <div>
        <!-- Enlace a Facebook -->
        <a href="https://www.facebook.com" target="_blank" title="Facebook" style="text-decoration: none;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" style="width:40px; height:40px;" />
        </a>


        <!-- Enlace a WhatsApp -->
        <a href="https://wa.me/3137945417" target="_blank" title="WhatsApp" style="text-decoration: none;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" style="width:40px; height:40px;" />
        </a>
    </div>
</main>
